* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1400px,
  xl: 1400px,
  xxl: 1400px,
);

$primary: rgb(73, 95, 87);
$secondary: rgb(207, 198, 181);
$danger: rgb(212, 150, 134);
$info: rgb(168, 199, 182);

// $nav-tabs-link-active-bg: $secondary;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/utilities/api";

// 5. Add additional custom code here

dl.about {
  dt {
    color: shade-color($primary, 30%);
  }
}

ul.skills {
  // list-style: none;
  li {
    margin-left: 1rem;
  }
  span {
    background-color: shade-color($secondary, 10%);
  }
}

img.photo {
  background-color: white;
  padding: 1vw;
  border: 1px dashed $secondary;
}

.card-roll {
  div.img-container {
    height: 220px;
    overflow: hidden;
    background-color: #505050;
    img {
      filter: blur(2px);
      opacity: 0.3;
    }
  }
  &:hover {
    background-color: white;
    img {
      transition: all 5s ease-out;
      transform: translateY(-50%);
    }
  }
}

.nav-item.active {
  padding-bottom: 1.5rem;
}

#project #profile {
  height: 80vh;
  overflow: auto;
}
